</div>
<footer class="footer mt-3 py-3 text-light text-center">
    <div class="text-center p-3 ">
        <span>&copy; 2024 Copyright Smit Parekh. All rights reserved.</span></div>
</footer>
</body>

</html>